
<p>agilebelgium.org</p>

<h1>
<a name="agilelean-belgium" class="anchor" href="#agilelean-belgium"><span class="octicon octicon-link"></span></a>Agile/lean Belgium</h1>


<h2>Agile/lean Belgium <br /><small>stuff and events</small></h2>

<ul>
  <li><a href="http://www.meetup.com/Agile-Belgium/">Meetup group</a>: <small>Best way to meet fellow agilists in an informal way, monthly.</small></li>
  <li><a href="https://www.facebook.com/AgileBelgium">On Facebook</a></li>
  <li><a href="https://twitter.com/AgileBelgium">On Twitter</a></li>
  <li><a href="http://www.agilebelgium.org/">Blog</a></li>
</ul>


<p>why is agile belgium ?</p>

<h2>
<a name="related-organisations" class="anchor" href="#related-organisations"><span class="octicon octicon-link"></span></a>Related organisations</h2>

<ul>
<li>  Lean meetup group</li>
<li>  Agile consortium: a group of companies who want to promote agile in companies.
&lt;!-- ask Coen for a small description --&gt;*   Agile Systems</li>
</ul><h2>
<a name="want-to-help-organising-events-" class="anchor" href="#want-to-help-organising-events-"><span class="octicon octicon-link"></span></a>Want to help organising events ?</h2>

<h3>
<a name="sponsoring" class="anchor" href="#sponsoring"><span class="octicon octicon-link"></span></a>sponsoring</h3>

<p>(why sponsor ? .... )</p>



<h2>
<a name="wanna-know-more-about-agile-" class="anchor" href="#wanna-know-more-about-agile-"><span class="octicon octicon-link"></span></a>Wanna know more about Agile ?</h2>

<p>(links)</p>

<h2>
<a name="any-suggestion-to-improve-this-page-" class="anchor" href="#any-suggestion-to-improve-this-page-"><span class="octicon octicon-link"></span></a>Any suggestion to improve this page ?</h2>

<p>(do that ...)</p>
